// body {
//   background: $accent-primary;
//   font-size: 14px;
// }
//
.letter-box {
  font-size: 3em;
  font-weight: 600;
  color: #fafafa;
  min-width: 60px;
  background: $background-color;
  border-radius: 4px;
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 2px;
  overflow: hidden;
  text-align: center;
}
